name: Update pre-commit hooks

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "backend/dev-requirements.txt"
      - "backend/requirements.txt"

jobs:
  pre-commit-hooks-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6

      - uses: browniebroke/pre-commit-autoupdate-action@v1.0.1

      - uses: peter-evans/create-pull-request@v8
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
